<h2>Doctor Login Yourself</h2>

<form action="/doctors/create-session" method="POST">
    <input type="username" name="username" placeholder="Username" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="submit" value="Login">
</form>