<h2>Doctor Register Yourself</h2>

<form action="/doctors/create-doctor-profile" method="POST">
    <input type="username" name="username" placeholder="Username" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
    <br>
    <input type="submit" value="Register">
</form>